*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: #333;
    background: black;
    font-family: Arial;
    text-align: center;
}

#container{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 2px solid rgb(197, 197, 197);
    margin: 0 auto;
}
#container h1{
    color:cornflowerblue;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

#container p{
    color: white;
    font-size: 15px;
}
#cabecera{
    display: flex;
    align-items: center;
    margin: auto 0;
    background-color: royalblue;
    margin: 0;
    padding: 0.5cm;

}

#cabecera span img{
    margin-right: 10px;
    width: 50px;

}
#cabecera p{
    color:white;
    font-size: 30px;
    font-weight: bold;
    display: inline-block;
}